<h4 mat-dialog-title class="section title1">DATOS DEL PEDIDO</h4>
<form [formGroup]="orderForm">
    <div class="section">
        <fieldset>
            <legend><b>Datos Anteojo</b></legend>
            <div class="row">
                <div class="col m12">
                    <span class="description">Nombre y Apellido:</span>
                    <div class="input-field inline">
                        <input type="text" class="col m8" readonly formControlName="nameAndSurname">
                    </div>
                </div>
                <div class="col m9">
                    <span class="description">N° de Anteojo:</span>
                    <div class="input-field inline">
                        <input type="text" class="col m4" readonly formControlName="glassesNumberDescription">
                    </div>
                </div>
                <button class="waves-effect waves-light btn-small col offset-m9" (click)="searchGlassesPending()"><i
                        class="material-icons left">search</i>Buscar Anteojo</button>
            </div>
        </fieldset>

        <fieldset>
            <legend><b>Datos Laboratorio</b></legend>
            <div class="row">
                <div class="col m9">
                    <span class="description">Laboratorio:</span>
                    <div class="input-field inline">
                        <input type="text" readonly formControlName="supplierLaboratoryFantasyName">
                    </div>
                </div>
                <button class="waves-effect waves-light btn-small col offset-m9"
                    style="position: relative; margin-top: -2.5rem" (click)="searchSupplierLaboratory()"><i
                        class="material-icons left">search</i>Buscar
                    Laboratorio</button>
            </div>
        </fieldset>

        <fieldset>
            <legend><b>Datos Pedido</b></legend>
            <div class="row">
                <div class="col m4">
                    <span class="description">Fecha:</span>
                    <div class="input-field inline">
                        <input type="text" class="col m8" readonly formControlName="currentDate">
                    </div>
                </div>
                <div class="col m8">
                    <span class="description">Fecha Entrega Esperada:</span>
                    <div class="input-field inline">
                        <input type="date" class="validate col m10" formControlName="expectedDeliveryDate">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col m12">
                    <span class="description">Observaciones:</span>
                    <div class="input-field inline">
                        <textarea class="text-area1 mt3" formControlName="orderObs"></textarea>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend><b>Datos Lentes</b></legend>
            <!-- <div class="row">
                <button class="waves-effect waves-light btn-small col offset-m9" (click)="searchPrescription()"><i
                    class="material-icons left">search</i>Buscar Receta</button>
            </div> -->
            <div class="row">
                <div class="col m3 push-m1 subtitle">OJO IZQUIERDO</div>
                <div class="col m2">
                    <mat-checkbox color="primary" formControlName="orderLensLE">
                        <b class="black-text">Pedir</b>
                    </mat-checkbox>
                </div>
                <div class="col m3 push-m2 subtitle">OJO DERECHO</div>
                <div class="col push-m1" style="margin-left: -1.7rem;">
                    <mat-checkbox class="col m2" color="primary" formControlName="orderLensRE">
                        <b class="black-text">Pedir</b>
                    </mat-checkbox>
                </div>
            </div>
            <div class="row">
                <div class="center-align">
                    <div class="col m6">
                        <span class="description">Valor Esférico:</span>
                        <div class="input-field inline">
                            <input type="text" class="ml10 col s5" readonly formControlName="sphericalValueLE">
                        </div>
                    </div>
                    <div class="col m6">
                        <span class="description">Valor Esférico:</span>
                        <div class="input-field inline">
                            <input type="text" class="ml10 col s5" readonly formControlName="sphericalValueRE">
                        </div>
                    </div>
                    <div class="col m6">
                        <span class="description">Valor Cilíndrico:</span>
                        <div class="input-field inline">
                            <input type="text" class="ml10 col s5" readonly formControlName="cilyndricalValueLE">
                        </div>
                    </div>
                    <div class="col m6">
                        <span class="description">Valor Cilíndrico:</span>
                        <div class="input-field inline">
                            <input type="text" class="ml10 col s5" readonly formControlName="cilyndricalValueRE">
                        </div>
                    </div>
                    <div class="col m6">
                        <span class="description">Eje (En grados):</span>
                        <div class="input-field inline">
                            <input type="text" class="ml10 col s5" readonly formControlName="axisLE">
                        </div>
                    </div>
                    <div class="col m6">
                        <span class="description">Eje (En grados):</span>
                        <div class="input-field inline">
                            <input type="text" class="ml10 col s5" readonly formControlName="axisRE">
                        </div>
                    </div>
                    <div class="col m6">
                        <span class="description">Índice de Refracción:</span>
                        <div class="input-field inline">
                            <input type="text" class="validate ml10 col s5" formControlName="refractionIndexLE">
                        </div>
                    </div>
                    <div class="col m6">
                        <span class="description">Índice de Refracción:</span>
                        <div class="input-field inline">
                            <input type="text" class="validate ml10 col s5" formControlName="refractionIndexRE">
                        </div>
                    </div>
                </div>
            </div>

            <div class="divider"></div>

            <div class="row">
                <div class="col m4">
                    <span class="description">Color:</span>
                    <div class="input-field inline">
                        <input type="text" class="validate ml10" formControlName="lensColor">
                    </div>
                </div>
                <div class="col m4">
                    <span class="description">Diseño:</span>
                    <div class="input-field inline">
                        <select class="browser-default border-black" *ngIf="lensDesigns$ | async as lensDesigns"
                            style="border-color: black; height: 40px; margin-top: 1rem;" formControlName="lensDesign">
                            <option value="" disabled selected>Seleccionar</option>
                            <option *ngFor="let lensDesign of lensDesigns" [ngValue]="lensDesign.idDisenoLente">
                                {{lensDesign.nombre}} - {{lensDesign.descripcion}}</option>
                        </select>
                    </div>
                </div>
                <div class="col m4">
                    <span class="description">Material:</span>
                    <div class="input-field inline">
                        <select class="browser-default border-black" *ngIf="lensMaterials$ | async as lensMaterials"
                            style="border-color: black; height: 40px; margin-top: 1rem;" formControlName="lensMaterial">
                            <option value="" disabled selected>Seleccionar</option>
                            <option *ngFor="let lensMaterial of lensMaterials" [ngValue]="lensMaterial.idMaterialLente">
                                {{lensMaterial.nombre}} - {{lensMaterial.descripcion}}</option>
                        </select>
                    </div>
                </div>
                <div class="col m4">
                    <span class="description">Diámetro (mm):</span>
                    <div class="input-field inline">
                        <input type="text" class="validate ml10 col m4" formControlName="lensDiameter">
                    </div>
                </div>
                <div class="col m4">
                    <span class="description">Acabado:</span>
                    <div class="input-field inline">
                        <select class="browser-default border-black" *ngIf="lensFinishes$ | async as lensFinishes"
                            style="border-color: black; height: 40px; margin-top: 1rem;" formControlName="lensFinish">
                            <option value="" disabled selected>Seleccionar</option>
                            <option *ngFor="let lensFinish of lensFinishes" [ngValue]="lensFinish.idAcabadoLente">
                                {{lensFinish.nombre}} - {{lensFinish.descripcion}}</option>
                        </select>
                    </div>
                </div>
                <div class="col m12" *ngIf="this.data.edit">
                    <span class="description">Estado:</span>
                    <div class="input-field inline">
                        <select class="browser-default border-black col m3"
                            style="border-color: black; height: 40px; margin-top: 1rem;" formControlName="orderStatus">
                            <option value="" disabled selected>Seleccionar</option>
                            <option *ngFor="let status of statusArray" [ngValue]="status">
                                {{ status }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="row right-align mt3p">
            <button type="submit" (click)="onSubmit()" class="waves-effect green btn selected">
                Guardar
            </button>
            <button class="waves-effect red btn selected" mat-dialog-close style="margin-left: 0.2rem">
                Cancelar
            </button>
        </div>
    </div>
</form>