<h1 class="title1">REPORTE PARA OBRA SOCIAL</h1>
<div class="container section">
    <form class="col m12" [formGroup]="reportForm">
        <fieldset>
            <div class="row">
                <div class=" col m4">
                    <span class="description">Año:</span>
                    <div class="input-field inline">
                        <select class="browser-default border-black" formControlName="year"
                            style="border-color: black; height: 40px; margin-top: 1rem;">
                            <option value="" disabled selected>Seleccionar</option>
                            <option *ngFor="let year of years" [ngValue]="year">{{ year }}</option>
                        </select>
                    </div>
                </div>
                <div class="col m6">
                    <span class="description">Mes:</span>
                    <div class="input-field inline">
                        <select class="browser-default border-black" formControlName="month"
                            style="border-color: black; height: 40px; margin-top: 1rem;">
                            <option value="" disabled selected>Seleccionar</option>
                            <option *ngFor="let month of months" [ngValue]="month">{{ month }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col m6" *ngIf="healthCares$ | async as healthCares">
                    <span class="description">Obra Social:</span>
                    <div class="input-field inline">
                        <select class="browser-default border-black" formControlName="healthCare"
                            style="border-color: black; height: 40px; margin-top: 1rem;">
                            <option value="" disabled selected>Seleccionar</option>
                            <option *ngFor="let healthCare of healthCares" [ngValue]="healthCare.nombre">
                                {{ healthCare.nombre }}</option>
                        </select>
                    </div>
                </div>
                <div class="col m6">
                    <span class="description">Nº de Factura:</span>
                    <div class="input-field inline">
                        <input type="text" class="col m6" formControlName="receiptNumber">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col push-m10">
                    <a class="waves-effect waves-light btn" (click)="searchReport()"><i
                            class="material-icons left">search</i>Generar</a>
                </div>
            </div>
        </fieldset>
    </form>
    
</div>