<h4 *ngIf="!data.edit" class="section titleFicha">NUEVO ANTEOJO</h4>
<h4 *ngIf="data.edit" class="section titleFicha">EDITAR ANTEOJO</h4>
<div class="row">
    <form class="col m12" [formGroup]="glassesForm">
        <fieldset>
            <legend><b>Datos Personales</b></legend>
            <div class="row">
                <div class="col m9 direction">
                    <span class="descriptionFicha">Nombre y Apellido:</span>
                    <div class="input-field inline">
                        <input type="text" class="ml10 col m9" readonly formControlName="nameAndSurname">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col m5">
                    <span class="descriptionFicha">Teléfono:</span>
                    <div class="input-field inline">
                        <input type="text" class="ml10" readonly formControlName="telephone">
                    </div>
                </div>
                <div class="col m7">
                    <span class="descriptionFicha">Domicilio:</span>
                    <div class="input-field inline">
                        <input type="text" class="ml10" readonly formControlName="address">
                    </div>
                </div>
            </div>
            <button class="waves-effect waves-light btn-small col offset-m9" (click)="searchCustomer()"><i
                class="material-icons left">search</i>Buscar
                Cliente</button>
        </fieldset>
        <fieldset>
            <legend><b>Datos Lentes</b></legend>
            <div class="row">
                <button class="waves-effect waves-light btn-small col offset-m9" (click)="searchPrescription()"><i
                    class="material-icons left">search</i>Buscar Receta</button>
            </div>
            <div class="row center-align">
                <div class="col s6 subtitle">OJO IZQUIERDO</div>
                <div class="col s6 subtitle">OJO DERECHO</div>
            </div>
            <div class="row">
                <div class="center-align col m12">
                    <div class="col m6">
                        <span class="descriptionFicha">Valor Esférico:</span>
                        <div class="input-field inline">
                            <input type="text" class="ml10 col m5" readonly formControlName="sphericalValueLE">
                        </div>
                    </div>
                    <div class="col m6">
                        <span class="descriptionFicha">Valor Esférico:</span>
                        <div class="input-field inline">
                            <input type="text" class="ml10 col m5" readonly formControlName="sphericalValueRE">
                        </div>
                    </div>
                    <div class="col m6">
                        <span class="descriptionFicha">Valor Cilíndrico:</span>
                        <div class="input-field inline">
                            <input type="text" class="ml10 col m5" readonly formControlName="cylindricalValueLE">
                        </div>
                    </div>
                    <div class="col m6">
                        <span class="descriptionFicha">Valor Cilíndrico:</span>
                        <div class="input-field inline">
                            <input type="text" class="ml10 col m5" readonly formControlName="cylindricalValueRE">
                        </div>
                    </div>
                    <div class="col m6">
                        <span class="descriptionFicha">Eje (En grados):</span>
                        <div class="input-field inline">
                            <input type="text" class="ml10 col m5" readonly formControlName="axisLE">
                        </div>
                    </div>
                    <div class="col m6">
                        <span class="descriptionFicha">Eje (En grados):</span>
                        <div class="input-field inline">
                            <input type="text" class="ml10 col m5" readonly formControlName="axisRE">
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row mt3" style="margin-bottom: 4rem">
                <div class="center-align">
                    <div class="col m6">
                        <span class="descriptionFicha">Lente Izquierdo:</span>
                        <div class="input-field inline">
                            <input type="text" class="ml10 col m6" readonly formControlName="descriptionLeftLens">
                        </div>
                        <div style="margin-top: -3rem">
                            <button class="waves-effect grey lighten-2 black-text border-button-solid btn-small col offset-m9"
                                style="margin-bottom: 5px;" (click)="searchLensFromStockLE()"><i
                                class="material-icons left">search</i>Stock</button>
                                <button class="waves-effect red btn-small col offset-m9"
                                (click)="deleteLoadedLensLE()">Eliminar</button>
                        </div>
                    </div>
                    <div class="col m6">
                        <span class="descriptionFicha">Lente Derecho:</span>
                        <div class="input-field inline">
                            <input type="text" class="ml10 col m6" readonly formControlName="descriptionRightLens">
                        </div>
                        <div style="margin-top: -3rem">
                            <button class="waves-effect grey lighten-2 black-text border-button-solid btn-small col offset-m9"
                                style="margin-bottom: 5px;" (click)="searchLensFromOrderRE()"><i
                                class="material-icons left">search</i>Stock</button>
                                <button class="waves-effect red btn-small col offset-m9"
                                (click)="deleteLoadedLensRE()">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="center-align">
                    <div class="col m6">
                        <span class="descriptionFicha">Valor DIP Cerca:</span>
                        <div class="input-field inline">
                            <input type="text" class="ml10 col m5" readonly formControlName="nearValueDIP">
                        </div>
                    </div>
                    <div class="col m6">
                        <span class="descriptionFicha">Valor ADD:</span>
                        <div class="input-field inline">
                            <input type="text" class="ml10 col m5" readonly formControlName="addValue">
                        </div>
                    </div>
                    <div class="col m6">
                        <span class="descriptionFicha">Valor DIP Lejos:</span>
                        <div class="input-field inline">
                            <input type="text" class="ml10 col m5" readonly formControlName="farValueDIP">
                        </div>
                    </div>
                    <div class="col m6">
                        <span class="descriptionFicha">Valor Altura:</span>
                        <div class="input-field inline">
                            <input type="text" class="validate ml10 col m5" formControlName="heightValue">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col m4">
                <div class="center-align">
                    <span class="descriptionFicha">Utilidad Anteojo:</span>
                    <div class="input-field inline">
                        <select class="browser-default border-black"
                            style="border-color: black; height: 40px; margin-top: 1rem;" formControlName="glassesUtility">
                            <option value="" disabled selected>Seleccionar</option>
                            <option *ngFor="let glassesUtility of glassesUtilities" [ngValue]="glassesUtility">{{glassesUtility}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend><b>Datos Armazón</b></legend>
            <div class="row">
                <div class="col m7">
                    <span class="descriptionFicha">Armazón:</span>
                    <div class="input-field inline">
                        <input type="text" readonly formControlName="frameDescription">
                    </div>
                </div>
                <button class="waves-effect waves-light btn-small col offset-m6"
                    style="position: relative; margin-top: -2.5rem" (click)="searchFrame()"><i
                        class="material-icons left">search</i>Buscar
                    Armazón</button>
            </div>
        </fieldset>
        <fieldset>
            <legend><b>Datos Facturación</b></legend>
            <div class="row">
                <div class="center-align">
                    <div class="col m6">
                        <span class="descriptionFicha">Total ($):</span>
                        <div class="input-field inline">
                            <input type="number" class="ml10 col m5" (keyup)="calculateAmountRemainder($event.target.value)" formControlName="totalAmount">
                        </div>
                    </div>
                    <div class="col m6">
                        <span class="descriptionFicha">Fecha Entrega Estimada:</span>
                        <div class="input-field inline">
                            <input type="date" class="validate ml10 col m8" formControlName="expectedDeliveryDate">
                        </div>
                    </div>
                </div>
                <div class="center-align">
                    <div class="col m6">
                        <span class="descriptionFicha">Seña ($):</span>
                        <div class="input-field inline">
                            <input type="number" class="ml10 col m5" (keyup)="calculateAmountRemainder($event.target.value)" formControlName="tokenPayment">
                        </div>
                    </div>
                    <div class="col m6" *ngIf="this.data.edit">
                        <span class="descriptionFicha">Fecha Entrega Real:</span>
                        <div class="input-field inline">
                            <input type="date" class="validate ml10 col m9" formControlName="deliveryDate">
                        </div>
                    </div>
                </div>
               
                <div class="center-align">
                    <div class="col m6">
                        <span class="descriptionFicha">Saldo ($):</span>
                        <div class="input-field inline">
                            <input type="number" class="ml10 col m5" readonly formControlName="amountRemainder">
                            <mat-checkbox color="primary" formControlName="payRemainder">
                                <b class="black-text descriptionFicha">Abonó Saldo</b>
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col m3 ml4r">
                    <mat-checkbox color="primary" formControlName="receiptHealthCare">
                        <b class="black-text descriptionFicha">Facturado Obra Social</b>
                    </mat-checkbox>
                    <div class="col m12">
                        <div class="input-field">
                            <select class="browser-default border-black" *ngIf="healthCares$ | async as healthCares" formControlName="healthCareID"
                                style="border-color: black; height: 40px;">
                                <option value="" disabled selected>Seleccionar</option>
                                <option *ngFor="let healthCare of healthCares" [ngValue]="healthCare.idObraSocial">{{healthCare.obra_social.nombre}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div *ngIf="data.edit">
                    <div class="center-align">
                        <div class="col m4 push-m2">
                            <span class="descriptionFicha">Estado:</span>
                            <div class="input-field inline">
                                <select class="browser-default border-black" 
                                    style="border-color: black; height: 40px; margin-top: 1rem;" formControlName="glassesStatus">
                                    <option value="" disabled selected>Seleccionar</option>
                                    <option *ngFor="let status of statusArray" [ngValue]="status">{{ status }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </fieldset>
    </form>
</div>
<div class="row right-align">
    <button class="waves-effect green btn selected" (click)="onSubmit()">
        Guardar
    </button>
    <button class="waves-effect red btn selected" mat-dialog-close style="margin-left: 0.2rem;">
        Cancelar
    </button>
</div>