  <nav class="teal lighten-2">
    <div class="nav-wrapper">
      <label class="black-text brand-logo right">OpticaVLA</label>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a class="black-text" routerLink="clientes" routerLinkActive="active">Clientes</a></li>
        <li><a class="black-text" routerLink="recetas" routerLinkActive="active">Recetas</a></li>
        <li><a class="black-text" routerLink="anteojos" routerLinkActive="active">Anteojos</a></li>
        <li><a class="black-text" routerLink="pedidos" routerLinkActive="active">Pedidos</a></li>
        <li><a class="black-text" routerLink="lentes" routerLinkActive="active">Lentes</a></li>
        <li><a class="black-text" routerLink="armazones" routerLinkActive="active">Armazones</a></li>
        <li><a class="black-text" routerLink="proveedores" routerLinkActive="active">Proveedores/Laboratorios</a></li>
        <li><a class="black-text" routerLink="obrasSociales" routerLinkActive="active">Obras Sociales</a></li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>