  <nav class="teal lighten-2">
    <div class="nav-wrapper">
      <label class="black-text brand-logo right">OpticaVLA</label>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a class="black-text" routerLink="clientes">Clientes</a></li>
        <li><a class="black-text" routerLink="">Recetas</a></li>
        <li><a class="black-text" routerLink="">Anteojos</a></li>
        <li><a class="black-text" routerLink="">Pedidos</a></li>
        <li><a class="black-text" routerLink="">Lentes</a></li>
        <li><a class="black-text" routerLink="">Armazones</a></li>
        <li><a class="black-text" routerLink="proveedores">Proveedores/Laboratorios</a></li>
        <li><a class="black-text" routerLink="">Obras Sociales</a></li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>