<div class="container" *ngIf="glasses">
    <div class="sheetComprobante" id="supportingDocument">
        <h3 class="titleFicha">COMPROBANTE DE ANTEOJO</h3>
    
        <div class="row">
            <label class="black-text labelFicha">Fecha: </label>
            <span class="contentFicha">{{ glasses.fechaCreacion | date: 'dd/MM/yyyy'}}</span>
        </div>
        <div class="row">
            <label class="black-text labelFicha">Cliente: </label>
            <span class="contentFicha">{{ glasses.recetum.cliente.nombre }} {{ glasses.recetum.cliente.apellido }}</span>
        </div>
        <div class="row">
            <label class="black-text labelFicha">N° de Anteojo: </label>
            <span class="contentFicha">{{ glasses.numAnteojo.toString().padStart(7, 0) }}</span>
        </div>
        <div class="row">
            <label class="black-text labelFicha">N° de Receta:</label>
            <span class="contentFicha">{{ glasses.numReceta.toString().padStart(7, 0) }}</span>
        </div>
        <div class="row">
            <label class="black-text labelFicha">Fecha de entrega estimada:</label>
            <span class="contentFicha">{{ glasses.fechaPrometido | date: 'dd/MM/yyyy'}}</span>
        </div>
        <div class="row">
            <label class="black-text labelFicha">Facturado por Obra Social: </label>
            <span class="contentFicha" *ngIf="glasses.esFacObraSocial">Si</span>
            <span class="contentFicha" *ngIf="!glasses.esFacObraSocial">No</span>
        </div>
        <div class="row">
            <label class="black-text labelFicha">Obra Social: </label>
            <span class="contentFicha" *ngIf="glasses.esFacObraSocial">{{ glasses.obra_social.nombre }}</span>
            <span class="contentFicha" *ngIf="!glasses.esFacObraSocial">Ninguna</span>
        </div>
        <br>
        <div class="row">
            <label class="black-text labelFicha">Total:</label>
            <span class="contentFicha">$ {{ glasses.montoTotal }}</span>
        </div>
        <div class="row">
            <label class="black-text labelFicha">Seña:</label>
            <span class="contentFicha">$ {{ glasses.montoSena }}</span>
        </div>
        <div class="row">
            <label class="black-text labelFicha">Saldo: </label>
            <span *ngIf="!glasses.abonoSaldo" class="contentFicha">$ {{ glasses.montoTotal - glasses.montoSena }}</span>
            <span *ngIf="glasses.abonoSaldo" class="contentFicha">Abonado</span>
        </div>
    </div>
    <br>
    <p class="center-align">
        <button (click)="generateSupportingDocument()" class="waves-effect waves-light btn-small" style="margin-right: 0.5rem;">Generar Comprobante</button>
        <button mat-dialog-close class="waves-effect btn-small red">Salir</button>
    </p>
</div>
