<div class="sheetFicha" *ngIf="frame">
    <p>
    <h4 class="center-align titleFicha">DATOS DEL ARMAZON</h4>
    <br><br>

    <p>
        <label class="black-text labelFicha">Marca: </label>
        <span class="contentFicha">{{frame.marca}}</span>
    <p>
        <label class="black-text labelFicha">Modelo: </label>
        <span class="contentFicha">{{frame.modelo}}</span>

    <p>
        <label class="black-text labelFicha">Color: </label>
        <span class="contentFicha">{{frame.color}}</span>

    <p>
        <label class="black-text labelFicha">Proveedor: </label>
        <span class="contentFicha">{{frame.proveedor_laboratorio.nombreFantasia}}</span>

    <p>
        <label class="black-text labelFicha">Cantidad en Stock: </label>
        <span class="contentFicha">{{frame.cantidad}}</span>

    <p>
        <label class="black-text labelFicha">Diseño: </label>
        <span class="contentFicha">{{frame.diseno_armazon.nombre}}</span>

    <p>
        <label class="black-text labelFicha">Material: </label>
        <span class="contentFicha">{{frame.material_armazon.nombre}}</span>

    <p>
        <label class="black-text labelFicha">Utilidad: </label>
        <span class="contentFicha">{{frame.utilidad_armazon.nombre}}</span>

</div>
<div>
    <p class="right-align">
        <a (click)="close()" class="waves-effect btn-small red" style="margin-right: 2rem;">Salir</a>
    </p>
</div>