<div class="sheet" *ngIf="frame">
    <p>
    <h4 class="center-align title1">DATOS DEL ARMAZON</h4>
    <br><br>

    <p>
        <label class="black-text label1">Marca: </label>
        <span class="content">{{frame.marca}}</span>
    <p>
        <label class="black-text label1">Modelo: </label>
        <span class="content">{{frame.modelo}}</span>

    <p>
        <label class="black-text label1">Color: </label>
        <span class="content">{{frame.color}}</span>

    <p>
        <label class="black-text label1">Proveedor: </label>
        <span class="content">{{frame.proveedor_laboratorio.nombreFantasia}}</span>

    <p>
        <label class="black-text label1">Cantidad en Stock: </label>
        <span class="content">{{frame.cantidad}}</span>

    <p>
        <label class="black-text label1">Diseño: </label>
        <span class="content">{{frame.diseno_armazon.nombre}}</span>

    <p>
        <label class="black-text label1">Material: </label>
        <span class="content">{{frame.material_armazon.nombre}}</span>

    <p>
        <label class="black-text label1">Utilidad: </label>
        <span class="content">{{frame.utilidad_armazon.nombre}}</span>

</div>
<div style="padding-bottom: 2rem">
    <a (click)="close()" class="waves-effect red btn-large" style="display: block">Salir</a>
</div>