<h4 class="section title1">RECETAS</h4>
<div class="container section">
    <fieldset>
        <legend><b>Datos Personales</b></legend>
        <div class="row">
            <div class="input-field col s5">
                Nombre y Apellido
                <input type="text" class="validate">
            </div>
            <div class="input-field col s4 offset-s1">
                Teléfono
                <input type="text" class="validate">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s5">
                Dirección
                <input type="text" class="validate">
            </div>
            <button class="waves-effect waves-light btn-small col offset-s9">Buscar Cliente</button>
        </div>
       
    </fieldset>
</div>