<div *ngIf="supplier" class="sheetFicha">
  <p></p>
  <h4 class="center-align titleFicha">DATOS PROVEEDOR/LABORATORIO</h4>
  <br /><br />

  <p>
    <label class="black-text labelFicha">Razón Social: </label>
    <span class="contentFicha">{{ supplier.razonSocial }}</span>
  </p>

  <p>
    <label class="black-text labelFicha">Nombre de Fantasía: </label>
    <span class="contentFicha">{{ supplier.nombreFantasia }}</span>
  </p>

  <p>
    <label class="black-text labelFicha">Teléfono: </label>
    <span class="contentFicha">{{ supplier.telefono }}</span>
  </p>

  <p>
    <label class="black-text labelFicha">Domicilio: </label>
    <span class="contentFicha">{{ supplier.domicilio }}</span>
  </p>

  <p>
    <label class="black-text labelFicha">Email: </label>
    <span class="contentFicha">{{ supplier.email }}</span>
  </p>
</div>

<div>
  <p class="right-align">
    <a (click)="close()" class="waves-effect red btn-small" style="margin-right: 2rem;">Salir</a>
  </p>
</div>
