<div class="container">
    <div class="planilla">
        <p>
            <h4 class="center-align titulo">DATOS PROVEEDOR/LABORATORIO</h4>
            <br><br>

        <p>
            <label class="black-text etiqueta">Razón Social: </label>
            <span class="contenido"></span>
        <p>
            <label class="black-text etiqueta">Nombre de Fantasía: </label>
            <span class="contenido"></span>

        <p>
            <label class="black-text etiqueta">Teléfono: </label>
            <span class="contenido"></span>

        <p>
            <label class="black-text etiqueta">Dirección: </label>
            <span class="contenido"></span>

        <p>
            <label class="black-text etiqueta">Email: </label>
            <span class="contenido"></span>

    </div>
    <div style="padding-bottom: 2rem">
        <a (click)="close()" class="waves-effect red btn-large" style="display: block">Salir</a>
    </div>
</div>