<h4 *ngIf="!data.edit" class="center-align section title1">NUEVA OBRA SOCIAL</h4>
<h4 *ngIf="data.edit" class="center-align section title1">EDITAR OBRA SOCIAL</h4>
<div class="container section">
    <div class="row">
        <form class="col s12" [formGroup]="healthCareForm">
          <div class="row">
            <div class="input-field col s6">
              Nombre
              <input placeholder="" type="text" formControlName="name" class="validate">
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              Período De Facturación En Meses
              <input placeholder="" type="number" formControlName="billingPeriod" class="validate">
            </div>
            <div class="input-field col s6">
                Cantidad Anteojos Por Período
                <input placeholder="" type="number" formControlName="numberGlassesPerPeriod" class="validate">
            </div>
          </div>
        </form>
      </div>
      <div class="row">
        <button class="waves-effect green btn selected" (click)="onSubmit()">Guardar</button>
        <button class="waves-effect red btn selected" (click)="cancel()" style="margin-left: 0.2rem;">Cancelar</button>
      </div>
</div>
