<h4 mat-dialog-title *ngIf="!data.edit" class="center-align section titulo">
  NUEVO CLIENTE
</h4>
<h4 mat-dialog-title *ngIf="data.edit" class="center-align section titulo">
  EDITAR CLIENTE
</h4>
  <div class="row">
    <form class="col s12" #clientForm>
      <div class="row">
        <div class="input-field col s5">
          Nombre
          <input placeholder="" type="text" name="name" [(ngModel)]="customer.name" class="validate" />
        </div>
        <div class="input-field col s4">
          Apellido
          <input placeholder="" type="text" name="surname" [(ngModel)]="customer.surname" class="validate" />
        </div>
      </div>
      <div class="row">
        <div class="input-field col s5">
          Dirección
          <input placeholder="" type="text" name="address" [(ngModel)]="customer.address" class="validate" />
        </div>
        <div class="input-field col s4">
          Telefono
          <input placeholder="" type="text" name="telephone" [(ngModel)]="customer.telephone" class="validate" />
        </div>
      </div>
      <div class="row">
        <div class="input-field col s5">
          Email
          <input placeholder="" type="email" name="email" [(ngModel)]="customer.email" class="validate" />
        </div>
      </div>
      <div class="row">
        <h3 class="subtitle">OBRA/S SOCIAL/ES</h3>
        <app-obras-sociales-por-cliente [obrasSocialesDelCliente] = customer.obrasSociales></app-obras-sociales-por-cliente>
      </div>
      <br>
      <div class="row" >
          <div style="margin-left: 0.5rem;">
            <div>Obra Social</div>
            <br>
            <select class="browser-default col s4 border-black" name="idObraSocial" [(ngModel)]="obraSocial">
              <option value="" disabled selected>Seleccionar</option>
              <option *ngFor="let obraSocial of obrasSocialesAvailables" [ngValue]="obraSocial">
                {{ obraSocial.nombre }}</option>
            </select>
            <div class="row">
              <div class="input-field col s4" style="margin-top: -1.5rem; margin-left: 3rem;">
                Número de Socio
                <input placeholder="" type="text" name="nsocio" [(ngModel)]="nsocio" class="validate" />
              </div>
              <button (click)="addObraSocial()"  
              class="waves-effect waves-light btn-small">Agregar</button>
            </div>
          </div>
      </div>
    </form>
  </div>
  <div class="row">
    <button class="waves-effect green btn" (click)="onSubmit()">
      Guardar
    </button>
    <button class="waves-effect red btn" (click)="cancel()" style="margin-left: 0.2rem;">
      Cancelar
    </button>
  </div>