<h4 *ngIf="!data" class="center-align section titulo">NUEVO CLIENTE</h4>
<h4 *ngIf="data" class="center-align section titulo">EDITAR CLIENTE</h4>
<div class="container section">
    <div class="row">
        <form class="col s12" [formGroup]="clientForm">
          <div class="row">
            <div class="input-field col s5">
              Nombre
              <input placeholder="" type="text" formControlName="name" class="validate">
            </div>
            <div class="input-field col s4">
              Apellido
              <input placeholder="" type="text" formControlName="surname" class="validate">
            </div>
          </div>
          <div class="row">
            <div class="input-field col s5">
                Dirección
                <input placeholder="" type="text" formControlName="address" class="validate">
            </div>
            <div class="input-field col s4">
                Telefono
                <input placeholder="" type="text" formControlName="telephone" class="validate">
            </div>
          </div>
          <div class="row">
            <div class="input-field col s5">
              Email
              <input placeholder="" type="email" formControlName="email" class="validate">
            </div>
        </div>
        <div class="row">
            <div style="margin-left: 0.5rem;">
                <div>Obra Social</div> 
                <br>          
                <select class="browser-default col s4" style="border-color: black;" formControlName="obraSocial">
                    <option value="" disabled selected>Seleccionar</option>
                    <option [ngValue]="1">Option 1</option>
                    <option [ngValue]="2">Option 2</option>
                    <option [ngValue]="3">Option 3</option>
                </select>
            </div>
            <div class="input-field col s4" style="margin-top: -1.5rem; margin-left: 6.5rem;">
                Número de Socio
                <input placeholder="" type="text" formControlName="nsocio" class="validate">
            </div>
        </div>
        </form>
      </div>
      <div class="row">
        <button type="submit" class="waves-effect green btn" [disabled]="clientForm.status === 'INVALID'" (click)="onSubmit()">Guardar</button>
        <button class="waves-effect red btn" (click)="cancel()" style="margin-left: 0.2rem;">Cancelar</button>
      </div>
</div>
