<div class="container section">
  <h1 class="titulo">PROVEEDORES Y LABORATORIOS</h1>
    <div class="row">
        <input class="col s3 offset-s9" type="search" (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
        <a class="waves-effect green btn" (click)="addSupplier()">Agregar</a>
      </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 striped res centered">
        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef> Cód. </th>
          <td mat-cell *matCellDef="let supplier"> {{supplier.id}} </td>
        </ng-container>
        <ng-container matColumnDef="nombrefantasia">
          <th mat-header-cell *matHeaderCellDef> Nombre de Fantasía </th>
          <td mat-cell *matCellDef="let supplier"> {{supplier.title}} </td>
        </ng-container>
        <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef> Telefono </th>
            <td mat-cell *matCellDef="let supplier"> {{supplier.title}} </td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let supplier"> {{supplier.title}} </td>
          </ng-container>
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let supplier">
                <a style="cursor: pointer" (click)="dataSupplier(supplier)"><i class="material-icons">visibility</i></a>
                <a style="cursor: pointer" (click)="editSupplier(supplier.id)"><i class="material-icons">edit</i></a>
                <a style="cursor: pointer; color: red"><i class="material-icons">delete</i></a>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
      <mat-paginator [length]= "suppliers.length" [pageSize]="10" showFirstLastButtons></mat-paginator>
    
    </div>