<div class="container section">
    <h1 class="titulo">ARMAZONES</h1>
    <div class="row">
        <input class="col s3 offset-s9" type="search" (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
        <a class="waves-effect green btn" (click)="addFrame()">Agregar</a>
      </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 striped res centered">
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef> Código </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="brand">
          <th mat-header-cell *matHeaderCellDef> Marca </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
        <ng-container matColumnDef="model">
            <th mat-header-cell *matHeaderCellDef> Modelo </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
        <ng-container matColumnDef="quantityInStock">
            <th mat-header-cell *matHeaderCellDef> Cantidad en Stock </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
                <a style="cursor: pointer" (click)="dataFrame(frame)"><i class="material-icons">visibility</i></a>
                <a style="cursor: pointer" (click)="editFrame(frame.id)"><i class="material-icons">edit</i></a>
                <a style="cursor: pointer; color: red"><i class="material-icons">delete</i></a>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
      <mat-paginator [length]= "frames.length" [pageSize]="10" showFirstLastButtons></mat-paginator>
    
    </div>