<div *ngIf="customer" class="sheetFicha">
  <p></p>
  <h4 class="titleFicha">DATOS PERSONALES</h4>
  <br /><br />

  <p></p>
  <div class="row">
    <label class="black-text labelFicha">Nombre y Apellido: </label>
    <span class="contentFicha">{{ customer.nombre }} {{ customer.apellido }}</span>
  </div>

  <p></p>
  <div class="row">
    <label class="black-text labelFicha">Teléfono: </label>
    <span class="contentFicha">{{ customer.telefono }}</span>
  </div>

  <p></p>
  <div class="row">
    <label class="black-text labelFicha">Email: </label>
    <span class="contentFicha">{{ customer.email }}</span>
  </div>

  <p></p>
  <div class="row">
    <label class="black-text labelFicha">Domicilio: </label>
    <span class="contentFicha">{{ customer.domicilio }}</span>
  </div>

  <p></p>
  <div class="row">
    <div class="black-text labelFicha">Obra/s social/es:</div>
  </div>

  <table class="stripped responsive-table container">
    <thead style="background-color: #eeeeee">
      <tr>
        <th class="labelFicha">Descripción</th>
        <th class="labelFicha">Nº de Socio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let healthCare of customer.obra_socials">
        <td class="contentFicha">{{ healthCare.nombre }}</td>
        <td class="contentFicha">{{ healthCare.cliente_obra_social.nroSocio }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <p class="right-align">
    <a (click)="close()" class="waves-effect waves-light btn-small red" style="margin-right: 2rem;">Salir</a>
  </p>
</div>