<div class="row">
    <div class="col s12 m4 offset-m4">
        <div class="card box">
            <div class="card-action teal ligthen-1 white-text">
                <h3 class="login-title">Acceso Al Sistema</h3>
            </div>
            <div class="card-content">
                <div class="form-field">
                    <label for="username">Usuario</label>
                    <input type="text" id="username">
                </div>
                <div class="form-field">
                    <label for="password">Contraseña</label>
                    <input type="password" id="password">
                </div>
                <div class="form-field">
                    <button class="btn-large waves-effect waves-dark" style="width: 100%">Ingresar</button>
                </div>
            </div>
        </div>
    </div>
</div>