<div class="container">
    <div class="planilla">
        <p>
            <h4 class="center-align titulo">DATOS DEL LENTE</h4>
            <br><br>

        <p>
            <label class="black-text etiqueta">Valor Esférico: </label>
            <span class="contenido"></span>
        <p>
            <label class="black-text etiqueta">Valor Cilíndrico: </label>
            <span class="contenido"></span>

        <p>
            <label class="black-text etiqueta">Indice de Refracción: </label>
            <span class="contenido"></span>

        <p>
            <label class="black-text etiqueta">Eje: </label>
            <span class="contenido"></span>

        <p>
            <label class="black-text etiqueta">Diámetro: </label>
            <span class="contenido"></span>

        <p>
            <label class="black-text etiqueta">Color: </label>
            <span class="contenido"></span>

        <p>
            <label class="black-text etiqueta">Cantidad en Stock: </label>
            <span class="contenido"></span>
            
        <p>
            <label class="black-text etiqueta">Dieseño: </label>
            <span class="contenido"></span>

        <p>
            <label class="black-text etiqueta">Material: </label>
            <span class="contenido"></span>

        <p>
            <label class="black-text etiqueta">Acabado: </label>
            <span class="contenido"></span>

        <p>
            <label class="black-text etiqueta">Proveedor: </label>
            <span class="contenido"></span>

    </div>
    <div style="padding-bottom: 2rem">
        <a (click)="close()" class="waves-effect red btn-large" style="display: block">Salir</a>
    </div>
</div>