/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.active {
    font-weight: bold;
}

.border-black {
    border-color: black;
}

.border-black:focus {
    border-width: .1rem;
    border-color: #18A1F5;
}

.titulo {
    text-decoration: underline;
    font-weight: bold !important;
    font-size: 2rem !important;
    text-align: center;
}

.planilla {
    margin: 2em;
    border-radius: 5px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    box-shadow: 10px 10px 5px grey;
}

.etiqueta {
    padding-left: 1.5rem;
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.contenido {
    font-size: 1rem;
    font-size: 2em;
    text-shadow: 1px 1px;
}
