html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.input-field{
    margin-top: initial;
}

.text-area1{
    width: 30rem;
    height: 5rem;
}

.text-area2{
    width: 25rem;
    height: 5rem;
}

.description{
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: .5em;
}

legend{
    font-size: 18px !important;
}

.ml10 {
    margin-left: 10px !important;
}


.login-title {
    text-align: center;
    font-size: 1.3em !important;
}

.box {
    margin-top: 40% !important;
}

.active {
    font-weight: bold;
}

.selected:focus {
    padding-top: 3px !important;
}

.sheet table {
    margin-bottom: 10px;
}

.border-black {
    border-color: black;
}

.border-black:focus {
    border-width: .1rem;
    border-color: #18A1F5;
}

.subtitle {
    text-decoration: underline;
    font-weight: bold !important;
    font-size: 20px;
}


.title1 {
    text-decoration: underline;
    font-weight: bold !important;
    font-size: 2rem !important;
    text-align: center;
}

.sheet {
    margin: 2em;
    border-radius: 5px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    box-shadow: 10px 10px 5px grey;
}

.label1 {
    padding-left: 1.5rem;
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.content {
    color:#0A034F;
    margin-left: 30px;
    font-size: 2em;
    text-shadow: 1px 1px;
}

.content1 {
    color:#0A034F;
    margin-left: 10px;
    font-size: 1rem;
    text-shadow: 1px 1px;
}
