html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.clock {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 25%
}

.description-report {
    text-align: center !important;
    font-size: 20px;
}

#report td {
    border: 1px solid black;
    padding: 4px;
}
#report th {
    border: 1px solid black;
    padding: 4px;
}

.material-icons.md-35 { 
    font-size: 35px; 
}

.input-field{
    margin-top: initial !important;
}

.input-field > input{
    margin-top: 0rem !important;
    margin-bottom: -.5rem !important;
}

.inline{
    width: 60%;
}

.border-button-solid {
    border: 2px solid #424242;
    border-radius: 5px;
}


.text-area1{
    width: 30rem;
    height: 5rem;
}

.text-area2{
    width: 25rem;
    height: 5rem;
}

.description{
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: .5em;
}

.descriptionFicha{
    padding-left: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
}

legend{
    font-size: 18px !important;
}

.direction{
    display: flex; 
    flex-direction: row; 
    align-items: flex-end;
}

.ml10 {
    margin-left: 10px !important;
}


.ml4r {
    margin-left: 4rem !important;
}

.mt3 {
    margin-top: 3rem !important;
}

.mt2 {
    margin-top: 2rem !important;
}

.mt3p {
    margin-top: 3px !important;
}

.pb1 {
    padding-bottom: 20px;
}

.login-title {
    text-align: center;
    font-size: 1.3em !important;
}

.box {
    margin-top: 40% !important;
}

.active {
    font-weight: bold;
}

.selected:focus {
    padding-top: 3px !important;
}

.sheet table {
    margin-bottom: 10px;
}

.border-black {
    border-color: black;
}

.border-black:focus {
    border-width: .1rem;
    border-color: #18A1F5;
}

.subtitle {
    /*text-decoration: underline;*/
    font-weight: bold !important;
    font-size: 20px;
}

.subtitleFicha
{
    /*text-decoration: underline;*/
    font-weight: bold !important;
    font-size: 20px;
}


.title1 {
    /*text-decoration: underline;*/
    font-weight: bold !important;
    font-size: 2rem !important;
    text-align: center;
    margin-top: 10px !important;
    margin-bottom: 40px !important;
}

.title2 {
    text-decoration: underline;
    font-weight: bold !important;
    font-size: 1.5rem !important;
    text-align: center;
}

.subtitleFicha {
    /*text-decoration: underline;*/
    font-weight: bold !important;
    font-size: 1.2rem !important;
    text-align: center;
}

.titleFicha {
    /*text-decoration: underline;*/
    font-weight: bold !important;
    font-size: 1.5rem !important;
    text-align: center;
    margin-top: 5px !important;
    margin-bottom: 10px !important;
    color: black;
}

.sheetFicha {
    margin: 2em;
    border-radius: 5px;
    border-left: 2px solid #bdbdbd;
    border-right: 2px solid #bdbdbd;
    border-bottom: 2px solid #bdbdbd;
    border-top: 2px solid #bdbdbd;
    box-shadow: 10px 10px 5px #eeeeee;
}

.sheetComprobante {
    border-radius: 3px;
    border-left: 2px solid #bdbdbd;
    border-right: 2px solid #bdbdbd;
    border-bottom: 2px solid #bdbdbd;
    border-top: 2px solid #bdbdbd;
    width:500px !important;
    height:500px !important;
    align-items: center;
}

.containerComprobante {
    width:400px !important;
    height:400px !important;
}

.sheet {
    margin: 2em;
    border-radius: 5px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    box-shadow: 10px 10px 5px grey;
}

.sheet1 {
    margin: 2em;
    border-radius: 5px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.label1 {
    padding-left: 1.5rem;
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.labelFicha {
    padding-left: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
}

.contentFicha {
    color: black;
    margin-left: 10px;
    font-size: 1em;
}


.label2 {
    padding-left: 1.5rem;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}


.content {
    color:#0A034F;
    margin-left: 30px;
    font-size: 2em;
    text-shadow: 1px 1px;
}

.content1 {
    color:#0A034F;
    margin-left: 10px;
    font-size: 1rem;
    text-shadow: 1px .2px;
}

.content2 {
    color:#0A034F;
    margin-left: 10px;
    font-size: 1.5rem;
}