<h3 class="section title1">DATOS ANTEOJO</h3>
<div class="row container">
    <h3 class="title2"><b>Datos Personales</b></h3>
    <div class="row">
        <div class="col m9">
            <span class="description">Nombre y Apellido:</span>
            <span class="content"></span>
        </div>
    </div>
    <div class="row">
        <div class="col m5">
            <span class="description">Teléfono:</span>
            <span class="content"></span>
        </div>
        <div class="col m7">
            <span class="description">Domicilio:</span>
            <span class="content"></span>
        </div>
    </div>
    <div class="divider blue-grey"></div>
    <h3 class="title2"><b>Datos Lentes</b></h3>
    <div class="row">
        <div class="col m12">
            <span class="description">Cod. Lente Izquierdo:</span>
            <span class="content"></span>
        </div>
    </div>
    <div class="row">
        <div class="col m12">
            <span class="description">Cod. Lente Derecho:</span>
            <span class="content"></span>
        </div>
    </div>
    <div class="row center-align mt3p">
        <div class="col s6 subtitle">OJO IZQUIERDO</div>
        <div class="col s6 subtitle">OJO DERECHO</div>
    </div>
    <div class="row">
        <div class="center-align col m12">
            <div class="col m6">
                <span class="description">Valor Esférico:</span>

            </div>
            <div class="col m6">
                <span class="description">Valor Esférico:</span>

            </div>
            <div class="col m6">
                <span class="description">Valor Cilíndrico:</span>

            </div>
            <div class="col m6">
                <span class="description">Valor Cilíndrico:</span>

            </div>
            <div class="col m6">
                <span class="description">Eje (En grados):</span>

            </div>
            <div class="col m6">
                <span class="description">Eje (En grados):</span>

            </div>
        </div>
    </div>
    <div class="divider blue-grey"></div>
    <h3 class="title2"><b>Datos Anteojo</b></h3>
    <div class="row">
        <div class="center-align">
            <div class="col m6">
                <span class="description">Valor DIP Cerca:</span>

            </div>
            <div class="col m6">
                <span class="description">Valor ADD:</span>

            </div>
            <div class="col m6">
                <span class="description">Valor DIP Lejos:</span>

            </div>
            <div class="col m6">
                <span class="description">Valor Altura:</span>

            </div>
            <div class="col m6">
                <span class="description">Utilidad Anteojo:</span>

            </div>
        </div>
    </div>
    <div class="divider blue-grey"></div>
    <h3 class="title2"><b>Datos Armazón</b></h3>
    <div class="row">
        <div class="col m12">
            <span class="description">Cod. Armazón:</span>

        </div>
        <div class="col m6">
            <span class="description">Marca:</span>

        </div>
        <div class="col m6">
            <span class="description">Modelo:</span>

        </div>
    </div>
    <div class="divider blue-grey"></div>
    <h3 class="title2"><b>Datos Facturación</b></h3>
    <div class="row">
        <div class="col m6">
            <span class="description">Total:</span>

        </div>
        <div class="col m6">
            <span class="description">Fecha Entrega Estimada:</span>

        </div>

        <div class="col m6">
            <span class="description">Seña:</span>

        </div>
        <div class="col m6">
            <span class="description">Fecha Entrega Real:</span>

        </div>
        <div class="col m6 push-m6">
            <span class="description">Estado:</span>
            
        </div>
    </div>
    <div class="row">
        <div class="col m12">
            <span class="description">Saldo:</span>

        </div>
        <div class="col m12">
            <span class="description">Abonó Saldo:</span>

        </div>
    </div>
    <div class="row">
        <div class="col m6">
            <span class="description">Facturado Por Obra Social:</span>

        </div>
    </div>
</div>