<h4 *ngIf="!data" class="center-align section titulo">NUEVO PROVEEDOR/LABORATORIO</h4>
<h4 *ngIf="data" class="center-align section titulo">EDITAR PROVEEDOR/LABORATORIO</h4>
<div class="container section">
    <div class="row">
        <form class="col s12" [formGroup]="supplierForm">
          <div class="row">
            <div class="input-field col s5">
              Razón Social
              <input placeholder="" type="text" formControlName="businessName" class="validate">
            </div>
            <div class="input-field col s4">
              Nombre de Fantasía
              <input placeholder="" type="text" formControlName="fantasyName" class="validate">
            </div>
          </div>
          <div class="row">
            <div class="input-field col s5">
                Teléfono
                <input placeholder="" type="text" formControlName="telephone" class="validate">
            </div>
            <div class="input-field col s4">
                Dirección
                <input placeholder="" type="text" formControlName="address" class="validate">
            </div>
          </div>
          <div class="row">
            <div class="input-field col s5">
              Email
              <input placeholder="" type="email" formControlName="email" class="validate">
            </div>
        </div>
        </form>
      </div>
      <div class="row">
        <button type="submit" class="waves-effect green btn" [disabled]="supplierForm.status === 'INVALID'" (click)="onSubmit()">Guardar</button>
        <button class="waves-effect red btn" (click)="cancel()" style="margin-left: 0.2rem;">Cancelar</button>
      </div>
</div>
